#recipe {
  hr {
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
    margin: 15px 0 25px 0;
  }

  ul li {
    list-style-type: circle;
  }

  ol li {
    list-style-type: decimal;
  }

  h1 {
    margin: 0;
  }

  /****************************/
  /**********BREADCRUMBS*******/
  /****************************/
  .breadcrumbs {
    width: 100%;
    font-size: 0.8rem;

    a {
      font-size: 0.8rem;
    }

    a:hover,
    a:focus {
      font-weight: bold;
    }
  }

  /****************************/
  /**********TOP TEXT**********/
  /****************************/
  /*Turning the top part into a grid and adding padding*/
  .recipeText {
    display: grid;
    grid-template-columns: 6% 41% 6% 41% 6%;
    padding: 40px 0 20px 0;

    /*Mostly setting up the starting points when it comes to the columns and rows in the grid*/
    p, h1 {
      grid-column: 2;
    }

    p {
      grid-row: 2;
    }

    p.cookingTime {
      align-self: flex-end;
      grid-row: 3;
    }

    div.imageSize, p.apa {
      grid-column: 4;
    }

    p.apa {
      grid-row: 3;
    }

    /*Adding a base for the image, so it is clear what size the image needs to be*/
    div.imageSize {
      background-color: lightgrey;
      grid-row: 1 / 3;
      width: 500px;
      height: 250px;
    }

    .recipeImage {
      grid-row: 1 / 3;
      width: 500px;
      height: 250px;
      object-fit: cover;
    }
  }


  /********************************************/
  /*******MAIN SECTION AND LIST ITEMS**********/
  /********************************************/
  /*Adding a grid in the main section, to seperate Ingrediënten en Bereiding*/
  .mainSection {
    display: grid;
    grid-template-columns: 6% 36% 6% 46% 6%;
  }

  /*Changing the list style to inside, so the numbers don't fall into the previous grid*/
  ul, ol {
    list-style-position: inside;
    padding-left: 15px;
  }

  /*Making sure the numbers align correctly if it goes above 9, by changing the list style to a decimal and adding padding for the digits*/
  ol {
    list-style: decimal;
    padding-left: 2.5em; 
  }

  /*Selecting the box that the number is in.*/
  ol li::marker {
  /*Leaving space for at least 2characters.*/
    min-width: 2ch;
  }

  ol li {
    padding: 12px 10px 0 0;
  }

  ul li {
    padding-top: 8px;
  }

  /****************************/
  /**********PREP INFO*********/
  /****************************/

  .preperationInfo {
    background-color: var(--primary-green);;
    grid-column: 2;
    padding-bottom: 45px;

    h2 {
      padding-bottom: 15px;
    }

    h2.foodInformation {
      padding-top: 30px;
    }
  }

  .preperation {
    grid-column: 4;
  }

  /*****************************************/
  /********MEDIA QUERY - PHONE**************/
  /*****************************************/
  
  @media only screen and (max-width: 900px) {
    /*Changing the font sizes down once more*/
    h1 {
      font-size: 2rem;
      text-align: center;
    }

    h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      font-size: 0.9rem;
    }

    /* Keeping the collapsed column from the tablet size*/
    .recipeText {
      grid-template-columns: 6% 88% 6%; 

       /* Making sure the image is once more at the top*/
      div.imageSize {
        grid-column: 1 / 4;
        width: 100%;
        background-color: lightgrey;
      }

      /* Moving the text to be below the image. Using grid-row to make the text flow more naturally. */
      h1, p, p.cookingTime, p.apa {
        grid-column: 2;
        grid-row: auto; 
      }
      
      .recipeImage {
        width: 100%;
        object-fit: cover;
      }
    }

    /*Changing the main section so the Ingrediënten show up first, followed by Bereiding */
    .mainSection {
      display: flex;
      flex-direction: column;
    }
  }
}