/* Creating a root folder with basic styles, for easy reusability */
:root {
  --font: Verdana, sans-serif;

  --white: #fff;
  --primary-green: #d5ecd4;
  --dark-green: #2f5233;
  --light-brown: #f5f1e3;
  --onyx: #3e3e3e;

  --content-max: 1240px;
  --content-pad: 10px;

  --schaduw: 0 10px 30px rgba(0, 0, 0, .08);
}

*{
    /* reset van sommige automatisch waarden */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: var(--onyx);   

    li {
      list-style: none;
    }
    a {
      text-decoration: none;
    }
}

/*Setting the font-sizes and colors for the headings and APA.*/
  h1 {
    font-size: 3.75rem;
    color: var(--dark-green);
  }
  h2 {
    font-size: 2.5rem;
    color: var(--dark-green);
  }

  h3 {
    font-size: 1.5rem;
    color: var(--dark-green);
  }

  .apa {
    font-size: 0.5rem;
  }

/* defining our buttons */
button{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: var(--onyx) 0px 0px 2px;
    
    /* dark button for light backgrounds */
    &.dark-button{
      color: var(--primary-green);
      background-color: var(--dark-green);
      &:hover{
        background-color: var(--light-brown);
        color: var(--dark-green);
    }
    }

    /* light button for dark backgrounds */
    &.light-button{
      color: var(--dark-green);
      background-color: var(--light-brown);
      &:hover{
        color: var(--primary-green);
        background-color: var(--dark-green);
        border: var(--primary-green) 1px solid;
        box-shadow: var(--primary-green) 0px 0px 2px;
      }
    }

    
}

/* hier zorgen we dat iederblok onder elkaar komt te staan */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

